html {
    background-color: #422602;
}

body {
    box-sizing: border-box;
    overflow: visible;
    margin: auto;
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2353360c'/%3E%3Cstop offset='1' stop-color='%2353360c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239b6d36'/%3E%3Cstop offset='1' stop-color='%239b6d36' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ac7d40'/%3E%3Cstop offset='1' stop-color='%23ac7d40' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23422602'/%3E%3Cstop offset='1' stop-color='%23422602' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23644616'/%3E%3Cstop offset='1' stop-color='%23644616' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F3B369'/%3E%3Cstop offset='1' stop-color='%23F3B369' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
/*start nadpisu*/
.company {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
}  
.logo {
    width: 5rem;
    margin: 4px 10px 0 10px;
}
.container-contact {
    position: absolute;
    right: 0;
    margin:  100px 20px auto auto;
    padding: auto 2px auto 2px;   
}
.container-contact i , span {
    font-size: 20px;
    padding: 4px;
    color: white;
}
nav ul {
    margin: auto;
    padding: 20px 0px 20px 0px;
    background-color: #3a1f0e;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    z-index: 1;
    top: 0;
}
nav{
    position: sticky;
    top: 0;
}
nav ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li {
    padding: 0 20px;
    font-size: 0.9em;

}
nav ul a:hover{
    border-bottom: 2px solid white;
}
.active a {
    border-bottom: 2px solid white ;
}
article{
    box-sizing: border-box;
    margin: 20px 15%;

}
article section {
    display: flex;
    flex-direction: column;
}
.fotoreklama {
    float: left;
	width: 300px;
    border: 2px solid black;
    border-radius: 11px;
    margin: auto 40px 50px 150px;
}
#galerie {
	margin: 0 auto;	
}

#galerie img {
	border: 1px solid gray;
	padding: 6px;
	box-shadow: 3px 3px 6px #999999;
	margin-right: 6px;
}

#galerie img:hover {
	opacity: 0.7;
}
 .cistic {
    clear: both;
}
.postAdress {
    margin: 20px 100px;
    color: white;
    size: 40rem;
    font-size: 1.2rem;
    float: left;
}
footer {
    text-align: center;
    color: white;
    background: #3a1f0e;
    bottom: 0;  
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    margin-top: auto;
}
.formular {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 300px;
    margin: 20px auto 20px auto;
    padding: 10px 100px 10px 10px;
}
input[type=text], input[type=email] {
    width: 200px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
}
textarea{
    border: 1px solid black;
    border-radius: 5px;
}

input[type=submit]{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.emailsent {
    text-align: center;
}
.mapa {
    margin: 10px 10px 70px 400px;
}

